
.all-courses {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:f8f8f8;
    color:rgb(23, 20, 20);
  }
  
  .all-courses .title {
    margin-top: 50px;
    margin-left: 10px;
    text-align: center;
  font-family: Average Sans;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 60px */
  text-transform: uppercase;
  }
  
  .all{
    margin-top: 1dvb;
    width: auto;
    height: auto;
    display:grid;
    gap:10px;
    grid-template-columns: 1fr 1fr ;
  }

  


  @media only screen and (max-width: 1300px) {
    .all {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .all{
      grid-template-columns: 1fr;
    }
  }
  

  /*styles for screens that are 900 pixels wide or less*/
  @media only screen and (max-width: 900px) {}
  

  /*applied when the screen width is 600 pixels or less*/
  @media only screen and (max-width: 600px) {
  .all-courses .title {
    margin-top:100px;
  }
  
    .all-courses .title {
      margin-top: 150px;
    font-size: 35px;
   
  }
  }

  
  @media only screen and (max-width: 1300px) {
    .all {
      grid-template-columns: 1fr 1fr 1fr; /* Update to have three columns */
    }
  }
  
  @media only screen and (max-width: 800px) {
    .all {
      grid-template-columns: 1fr 1fr; /* Keep two columns for smaller screens */
    }
  }
  
  
  
  