* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif !important;
}
img {
  max-width: 100%;
  height: auto;
}

.App {
  min-height: 100vh;
  margin: 0rem auto;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}







@media screen and (max-width:393px) {


}